@font-face {
  font-family: 'Reey';
  src: url('../fonts/Reey-Regular.eot');
  src: url('../fonts/Reey-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Reey-Regular.woff2') format('woff2'), url('../fonts/Reey-Regular.woff') format('woff'), url('../fonts/Reey-Regular.ttf') format('truetype'), url('../fonts/Reey-Regular.svg#Reey-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular.woff2') format('woff2'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans_bold';
  src: url('../fonts/OpenSans-Bold.eot');
  src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold.woff2') format('woff2'), url('../fonts/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans-Bold.ttf') format('truetype'), url('../fonts/OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans-BBold';
  src: url('../fonts/OpenSans-ExtraBold.eot');
  src: url('../fonts/OpenSans-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-ExtraBold.woff2') format('woff2'), url('../fonts/OpenSans-ExtraBold.woff') format('woff'), url('../fonts/OpenSans-ExtraBold.ttf') format('truetype'), url('../fonts/OpenSans-ExtraBold.svg#OpenSans-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
.Head {
  display: block;
  background-image: url("../PSD/Header Background.png");
  font-family: 'Open Sans';
  font-size: 1.5rem;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 100%;
  background-position-y: 100%;
}
.Head a {
  margin-right: 50px;
  text-decoration: none;
  color: #ffffff;
  height: 150px;
  line-height: 150px;
}
.Head-search form {
  position: relative;
  width: 200px;
  margin: 0 auto;
}
.Head-search input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: none;
  border-radius: 180px;
  outline: none;
  background: #ffffff;
  margin-top: 50px;
  color: #9E9C9C;
}
.Head-search button {
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: #ffffff;
  border-radius: 180px 185px 185px 180px;
  cursor: pointer;
}
.Head-search button:before {
  content: url('../PSD/Search.svg');
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.Head-b {
  padding-left: 100px;
}
.Head-b h1 {
  font-family: Reey;
  font-size: 90px;
  padding-top: 60px;
  padding-bottom: 125px;
}
.Head-b h5 {
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 1.5rem;
}
.Head-b button {
  margin-top: 60px;
  position: relative;
  width: 250px;
  height: 50px;
  background-color: #ffffff;
  font-family: 'OpenSans_bold', SansSerif;
  margin-bottom: 25px;
  color: #1e1d2a;
  border-radius: 180px 185px 185px 180px;
  cursor: pointer;
}
.Head-b img {
  padding-top: 150px;
}
.Head-b p {
  font-family: 'Open Sans';
  font-style: italic;
  margin-top: 0px;
}
.Head-1 {
  position: absolute;
  right: 15px;
  bottom: -260px;
  z-index: 2;
}
.Head-2 {
  position: absolute;
  right: 100px;
  bottom: 20px;
}
.Head-3 {
  position: absolute;
  right: 600px;
  bottom: -90px;
}
.neck p {
  font-family: 'Open Sans', SansSerif;
}
.neck-top p {
  margin-bottom: 100px;
  font-size: 20px;
  text-align: center;
}
.neck-top h1 {
  margin-bottom: 7rem;
  margin-top: 7rem;
  font-family: 'Reey';
  text-align: center;
  font-size: 80px;
}
.neck-all img {
  height: 345px;
  width: 345px;
  margin-left: 80px;
}
.neck-all p {
  margin-left: 150px;
  font-family: 'Open Sans', SansSerif;
  font-size: 15px;
}
.neck-all h3 {
  margin-left: 150px;
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 25px;
}
.neck-all button {
  display: block;
  position: relative;
  margin-bottom: 5rem;
  margin-top: 125px;
  height: 75px;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: #1e1d2a;
  font-family: 'OpenSans-BBold', SansSerif;
  font-size: 20px;
  border-radius: 100px;
}
.chest {
  background-color: #1e1d2a;
  color: #ffffff;
}
.chest h1 {
  padding-bottom: 7rem;
  padding-top: 7rem;
  font-family: 'Reey';
  text-align: center;
  font-size: 80px;
}
.chest p {
  font-family: 'Montserrat', SansSerif;
  font-size: 15px;
  margin-block-start: 20px;
  margin-block-end: 32px;
}
.chest button {
  display: block;
  position: relative;
  margin-top: 80px;
  height: 60px;
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  color: #1e1d2a;
  font-family: 'OpenSans-BBold', SansSerif;
  font-size: 20px;
  border-radius: 100px;
}
.chest-wax {
  padding-bottom: 70px;
}
.sale h1 {
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 40px;
}
.sale p {
  font-family: 'Open Sans', SansSerif;
  font-size: 20px;
}
.sale-a {
  margin-left: 100px;
}
.sale-a button {
  display: block;
  position: relative;
  margin-top: 60px;
  height: 75px;
  width: 300px;
  color: #ffffff;
  background-color: #1e1d2a;
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 25px;
  border-radius: 100px;
}
.sale-a h1 {
  margin-top: 175px;
  margin-bottom: 55px;
}
.sale-a img {
  width: 625px;
  height: 625px;
  margin-left: 100px;
  margin-top: 50px;
}
.sale-b {
  margin-left: 100px;
}
.sale-b button {
  display: block;
  position: relative;
  margin-top: 60px;
  height: 75px;
  width: 300px;
  color: #ffffff;
  background-color: #1e1d2a;
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 20px;
  border-radius: 100px;
}
.sale-b h1 {
  margin-top: 275px;
  margin-bottom: 50px;
}
.sale-b img {
  margin-top: 125px;
  margin-left: -100px;
  width: 670px;
  height: 670px;
  margin-bottom: 0px;
}
.pizza {
  height: 1080px;
  display: block;
  background-image: url("../PSD/Header Background.png");
  font-family: 'Open Sans';
  font-size: 1.5rem;
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100%;
}
.pizza h1 {
  font-size: 55px;
  font-family: 'Reey';
  padding-top: 160px;
  padding-bottom: 80px;
  text-align: center;
}
.pizza p {
  font-family: 'Open Sans', SansSerif;
  text-align: center;
  margin-bottom: 50px;
}
.pizza button {
  position: relative;
  left: 50%;
  width: 200px;
  height: 20px;
  transform: translateX(-50%);
}
.pizza-l {
  position: relative;
  left: 12%;
  bottom: 60%;
  transform: translateY(5%);
}
.pizza-p {
  position: relative;
  left: 35%;
  bottom: 80%;
  transform: translateY(5%);
}
.pizza-pi {
  position: relative;
  left: 27%;
  bottom: 95%;
  transform: translateY(-50%);
}
.next-d h2 {
  padding-top: 200px;
  margin-left: 20px;
  font-family: 'Reey';
  font-size: 40px;
  margin-bottom: 30px;
}
.next-d p {
  font-size: 15px;
  font-family: 'Open Sans', SansSerif;
  margin-bottom: 240px;
}
.next-f p {
  font-family: 'Open Sans', SansSerif;
  font-size: 20px;
  text-align: center;
}
.next-f h5 {
  text-align: center;
  margin-bottom: 190px;
  margin-top: 65px;
  font-family: 'OpenSans_bold', SansSerif;
}
.legs {
  background-color: #1e1d2a;
  color: #ffffff;
  height: 800px;
}
.legs h1 {
  text-align: center;
  font-family: 'OpenSans_bold', SansSerif;
  font-size: 50px;
  padding-top: 240px;
}
.legs p {
  font-family: 'Open Sans', SansSerif;
  font-size: 20px;
  text-align: center;
  margin-top: 70px;
  padding-bottom: 80px;
}
.legs-search form {
  position: relative;
  width: 750px;
  margin: 0 auto;
  padding-bottom: 220px;
}
.legs-search input {
  width: 100%;
  height: 65px;
  padding-left: 50px;
  border: none;
  border-radius: 180px;
  outline: none;
  background: #ffffff;
  margin-top: 50px;
  color: #9E9C9C;
  font-size: 20px;
}
.legs-search button {
  font-size: 30px;
  font-family: 'OpenSans_bold', SansSerif;
  margin-top: 50px;
  position: absolute;
  top: 0;
  right: 0px;
  width: 220px;
  height: 65px;
  border: none;
  background: darkslateblue;
  color: #ffffff;
  border-radius: 180px 185px 185px 180px;
  cursor: pointer;
}
.legs-search button:before {
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}
.legs img {
  position: relative;
  left: 200px;
  top: -900px;
  padding-bottom: 0;
  margin-bottom: 0;
  height: 1056px;
}
footer {
  height: 800px;
}
footer .woo {
  margin-left: 80px;
}
footer button {
  margin-top: 20px;
  position: relative;
  top: 0;
  width: 40px;
  height: 40px;
  border: none;
  background: #1e1d2a;
  border-radius: 180px 185px 185px 180px;
  cursor: pointer;
  background-position: center ;
}
footer p {
  font-family: 'Open Sans', SansSerif;
  font-size: 15px;
}
footer h2 {
  font-family: 'Open Sans', SansSerif;
  font-size: 20px;
  padding-bottom: 45px;
  padding-top: 350px;
}
footer h1 {
  font-family: 'Open Sans', SansSerif;
  font-size: 30px;
  padding-bottom: 45px;
  padding-top: 350px;
}
footer h3 {
  font-family: 'Open Sans', SansSerif;
  font-size: 20px;
  margin-bottom: 10px;
}
footer .Ins {
  display: inline-block;
}
footer .Ins button {
  border: #1e1d2a 2px solid;
  background-image: url("../PSD/Ins.png");
  background-position: center;
}
footer button#AAA {
  border: #1e1d2a 2px solid;
  background-image: url("../PSD/Fac.png");
  background-position: center ;
}
footer .twit {
  display: inline-block;
}
footer .twit button {
  border: #1e1d2a 2px solid;
  background-image: url("../PSD/Twit.png");
  background-position: center ;
}
footer .WA {
  display: inline-block;
}
footer .WA button {
  border: #1e1d2a 2px solid;
  background-image: url("../PSD/WA.png");
  background-position: center ;
}
footer img#YYY {
  width: 100%;
  height: 400px;
  position: relative;
  top: 0px;
}
footer h5 {
  font-size: 80px;
  font-family: 'Reey';
  text-align: center;
}
@media (max-width: 1500px) {
  Head {
    background-size: 100%;
    background-repeat: repeat;
  }
  Head a {
    text-align: left;
  }
}
